header {
    width: 100%;
    overflow: hidden;
    background: #db0000;
    margin-bottom: 20px;
    display: flex;
}

p,
ul {
    margin: 0;
}

.center {
    margin: auto;
    overflow: hidden;
}

header nav {
    float: right;
    /* line-height: 200px; */
    padding-block: 20px;
}

header nav a {
    display: inline-block;
    color: aliceblue;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 1.1rem;
    font-weight: 400;
}

.items a:hover {
    background-color: white;
    border-radius: 50px;
    color: #db0000;
}

.footer {
    font-size: 0.875rem;
}

.footer__logo {
    height: 0.95rem;
}

.footer__nav {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer__nav li {
    position: relative;
    padding: 0 1rem;
}

.footer__nav li:not(:last-child)::after {
    content: "";
    display: block;
    position: absolute;
    height: 1em;
    width: 1px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: currentColor;
}

.footer__social {
    fill: red;
}

.footer__social a img {
    filter: opacity(0.5);
}

@media (max-width: 768px) {
    .footer__item {
        row-gap: 1rem;
    }
    .footer__item > * {
        width: 100% !important;
    }
}
