{% extends './base.html' %}

{% block main%}
<main>
  <section id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="{{url_for('static', filename='img/slide-1.jpg')}}" class="d-block w-100" alt="slide1" />
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{{url_for('static', filename='img/slide-2.jpg')}}" class="d-block w-100" alt="slide2" />
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </section>

  <section class="container py-5">
    <h4 class="text-body">CARTELERA</h4>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item d-flex gap-1 active">
          <img src=" {{url_for('static', filename='img/cartelera/barbaro.jpg')}}" class="d-block w-25 h-auto"
            alt="barbaro" />
          <img src=" {{url_for('static', filename='img/cartelera/el-beso-de-dios.jpg')}}" class="d-block w-25 h-auto"
            alt="el beso de dios" />
          <img src=" {{url_for('static', filename='img/cartelera/emergencia-en-el-aire.jpg')}}" class="d-block w-25"
            alt="emergencia-en-el-aire" />
          <img src="{{url_for('static', filename='img/cartelera/barbaro.jpg')}}" " class=" d-block w-25 h-auto"
            alt="barbaro" />
        </div>
        <div class="carousel-item gap-1 d-flex">
          <img src="{{url_for('static', filename='img/cartelera/la-chica-salvaje.jpg')}}" class="d-block w-25 h-auto"
            alt="la-chica-salvaje" />
          <img src="{{url_for('static', filename='img/cartelera/boonie-bears-regreso-a-la-tierra.jpg')}}"
            class="d-block w-25 h-auto" alt="boonie-bears-regreso-a-la-tierra" />
          <img src="{{url_for('static', filename='img/cartelera/olga.jpg')}}" class="d-block w-25 h-auto" alt="olga" />
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <section class="container pb-5">
    <h4 class="text-body">PREVENTA / PRÓXIMOS ESTRENOS</h4>
    <div id="carouselExampleIndicators2" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item d-flex gap-1 active">
          <img src=" {{url_for('static', filename='img/cartelera/barbaro.jpg')}}" class="d-block w-25 h-auto"
            alt="barbaro" />
          <img src=" {{url_for('static', filename='img/cartelera/el-beso-de-dios.jpg')}}" class="d-block w-25 h-auto"
            alt="el beso de dios" />
          <img src=" {{url_for('static', filename='img/cartelera/emergencia-en-el-aire.jpg')}}" class="d-block w-25"
            alt="emergencia-en-el-aire" />
          <img src="{{url_for('static', filename='img/cartelera/barbaro.jpg')}}" " class=" d-block w-25 h-auto"
            alt="barbaro" />
        </div>
        <div class="carousel-item gap-1 d-flex">
          <img src="{{url_for('static', filename='img/cartelera/la-chica-salvaje.jpg')}}" class="d-block w-25 h-auto"
            alt="la-chica-salvaje" />
          <img src="{{url_for('static', filename='img/cartelera/boonie-bears-regreso-a-la-tierra.jpg')}}"
            class="d-block w-25 h-auto" alt="boonie-bears-regreso-a-la-tierra" />
          <img src="{{url_for('static', filename='img/cartelera/olga.jpg')}}" class="d-block w-25 h-auto" alt="olga" />
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <section class="container pb-5">
    <h4 class="text-body">PROMOCIONES</h4>
    <div class="row gap-1 gap-sm-0">
      <picture class="col-12 col-sm-4">
        <img src="{{url_for('static', filename='img/promociones/post-2x1-pagando-con-american-express.jpg')}}"
          class="w-100" alt="barbaro" />
      </picture>
      <picture class="col col-sm-4">
        <img
          src="{{url_for('static', filename='img/promociones/post-40percent-descuento-cinemark-y-banco-falabella.jpg')}}"
          class="w-100" alt="el beso de dios" />
      </picture>
      <picture class="col col-sm-4">
        <img src="{{url_for('static', filename='img/promociones/post-promocion-2x1-wom.jpg')}}" class="w-100"
          alt="emergencia-en-el-aire" />
      </picture>
    </div>
  </section>
</main>

{%endblock%}